<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//unpkg.com/alpinejs" defer></script>
    <script src="https://kit.fontawesome.com/ef0709a418.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/output.css">
    <script src="/static/app.js"></script>
    <title>Sign Up | CFA Tools</title>
</head>
<body x-data="{ bigLoader: false }">

    {{ template "Navbar.html" . }}
    {{ template "GuestNavMenu.html" . }}
    {{ template "SignupForm.html" . }}
    {{ template "BigLoader.html" . }}
    

</body>
</html>

<script>
	closeNav()
	hideBigLoader()
</script>

