<div hx-boost="true" class="rounded-lg border p-4 bg-gray-100 m-2 text-gray-700 flex flex-col">
	<div class="flex flex-row border-b  pb-4 mb-4">
		<h2 class="w-full font-serif text-lg mb-2">Cares Log</h2>
		<a class="px-4 py-2 bg-main rounded text-xs w-fit text-white h-fit self-center">Select</a>
	</div>
	<p class="text-xs">Keeps track of negative guest experiences within our business.</p>
</div>

<div hx-boost="true" class="rounded-lg border p-4 bg-gray-100 m-2 text-gray-700 flex flex-col">
	<div class="flex flex-row border-b  pb-4 mb-4">
		<h2 class="w-full font-serif text-lg mb-2">Scorecard</h2>
		<a class="px-4 py-2 bg-main rounded text-xs w-fit text-white h-fit self-center">Select</a>
	</div>
	<p class="text-xs">A space where we can track and discuss our business metrics.</p>
</div>