<form id="location-form" hx-boost="true" method=POST action="/actions/location" class="bg-gray-100 border m-2 rounded-lg flex flex-col p-4 text-gray-700">
	<h2 class="font-serif mb-4 text-lg">Create Locations</h2>
	<p class="mb-4 text-xs text-red-700">{{ .LocationFormErr }}</p>
	<label for="email" class="text-xs mb-1">Name</label>
	<input value="Chick-fil-A Southroads" name="name" type="text" class="p-2 text-xs outline-none mb-4 border rounded bg-white" />
	<label for="password" class="text-xs mb-1">Number</label>
	<input value="03253" name="number" type="text" class="p-2 text-xs mb-6 outline-none border rounded bg-white" />
	<button onclick="showBigLoader()" type="submit" class="bg-gray-700 px-8 py-2 text-xs text-white rounded w-fit">
		<span id="location-form-submit-text">Create</span>
	</button>
</form>