
{{ if .Locations }}
	<div hx-boost="true" class="bg-gray-100 text-gray-700 m-2 rounded-lg border">
		<div class="p-4 rounded-t-lg flex flex-row justify-between items-center">
			<h2 class="font-serif text-lg">Select a Location</h2>
			{{ if .HasMoreThanThreeLocations }}
			<div hx-boost="true" class="flex">
				<a href="/locations/all" class=" underline text-xs pr-4">View More...</a>
			</div>
		{{ end }}
		</div>
		{{ range .Locations }}
			<div class="m-4 mb-2 pb-2 border-b flex flex-row justify-between">
				<div class="flex flex-col">
					<h3 class="text-sm mb-2">{{ .Name }}</h2>
					<p class="text-xs text-gray-400">{{ .Number }}</p>
				</div>
				<a class="bg-gray-200 border shadow-sm rounded-full flex items-center p-2 h-10 w-10" href="/location/{{ .ID }}" onclick="showBigLoader()">
					<svg class="h-14 w-14" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M4 12H6.5M20 12L14 6M20 12L14 18M20 12H9.5" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				</a>
			</div>
			{{ end }}
	</div>
{{ end }}

{{ if .HasNoLocations }}
	<div class="bg-gray-100 text-gray-700 m-2 rounded-lg border p-4">
		<h2 class="font-serif text-lg mb-2">So Empty</h2>
		<p class="text-xs">Create a location to get started!</p>
	</div>
{{ end }}